<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="ISO-8859-1">
    <title>Wikidata search</title>
    <link rel="stylesheet" type="text/css" href="publish/index.css">
    <script src="publish/index.js"></script>
    <style>
        #container {
            width: 100px;
            height: 100px;
            position: relative;
        }
        #navi,
        #infoi {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        #infoi {
            z-index: 10;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div layout="column">
        <div class="ct-div-header"> Facted Browsing for Wikidata </div>
        <div class="ct-div-search" layout="row">
            <!--<div flex="70" ng-controller="TradeSearchController" class="input-group">
                <input class="form-control" type="text" required ng-model="searchQuery.keywords"
                       ng-keyup="getSuggestions($event)" />
                <ul class="typeahead" ng-show="suggestions.length > 0">
                    <li ng-repeat="suggestion in suggestions" auto-suggest-menu-item class="">
                        <a ng-href="#">{{suggestion.id}}-{{suggestion.label}}</a>
                    </li>
                </ul>
            </div>
            -->
            <div flex="100"  layout="row" ng-cloak>
                <md-content class="md-padding" ng-controller="autoComplete">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete
                                md-selected-item="selectedItem"
                                md-search-text-change="searchTextChange(searchText)"
                                md-search-text="searchText"
                                md-selected-item-change="selectedItemChange(item)"
                                md-items="item in querySearch(searchText)"
                                md-item-text="item.display"
                                md-min-length="1"
                                placeholder="Find instances of class">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No class matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <br/>
                    </form>
                </md-content>
                <md-button class="" ng-click="showFacet()">
                    <md-icon md-svg-src="app/img/search.svg"></md-icon>
                </md-button>
            </div>

        </div>
        <div layout="row">
            <div flex="20" layout="column">
                <ul>
                    <li ng-repeat="facet in facets" ng-include="'app/directives/treeViewFacet.html'">
                    </li>
                    <div ng-show="facets.length>0">
                        <input type="text"><br>
                        Add property
                    </div>

                </ul>
            </div>
            <div flex="60">
                <span>The number of results: {{numberResults}}</span>
                <ul>
                    <li ng-repeat="result in results">
                        {{result.item.value}}
                    </li>
                </ul>
            </div>
            <div flex>
                <md-content flex layout-padding>
                    {{runningQuery}}
                    </md-content>
            </div>
        </div>

    </div>
    <div id="container">
        <div id="navi">a</div>
        <div id="infoi">
            <img src="https://appharbor.com/assets/images/stackoverflow-logo.png" height="20" width="32" />b
        </div>
    </div>
</body>
</html>

