<span ng-click="ctToogleEvent($event,facet)" class="btnExpand">{{facet.iconText}}</span>
<a ng-href="{{facet.fullLink}}" target="_blank"> <span>{{ facet.text}} ({{facet.number}})</span> </a>

<img src="app/img/clear.svg" ng-click="delete($event,facet)"/>
<ul ng-show="facet.isExpand">
    <li ng-repeat="facetValue in facet.value" >
        <input type="checkbox" ng-model="facetValue.isCheck" ng-change="showResult()">
        <span> {{ facetValue.text}}({{facetValue.number}}) </span>
        <span ng-show="false"> {{ facetValue.fullLink}} </span>
        <ul>
            <li ng-click="showQualifier($event,facet,facetValue)"> {{facetValue.iconText}}Show Qualifier </li>
                <ul ng-show="facetValue.isExpand">
                    <li ng-repeat="facetQualifier in facetValue.Qualifiers">
                        <span> {{ facetQualifier.text}}({{facetQualifier.number}}) </span>
                        <ul>
                            <li ng-repeat="facetQualifierValue in facetQualifier.Values">
                                <input type="checkbox" ng-model="facetQualifierValue.isCheck">
                                <span> {{ facetQualifierValue.text}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
        </ul>
    </li>
    <li>
        <span ng-click="addMoreFacet($event,facet)">More ...</span>
    </li>
</ul>
